/vendor
/node_modules

/public/build
/public/hot
/public/storage
/storage/*.key
/storage/app/public

/bootstrap/cache/*.php

.env
.env.*

.phpunit.result.cache

Homestead.yaml
Homestead.json

npm-debug.log
yarn-error.log

.idea
.vscode

.DS_Store
Thumbs.db

*.log

/database/*.sqlite
